body {
  background-color: bisque;
}

h1 {
  font-family: "Jolly Lodger", cursive;
  color: rgb(17, 146, 232);
  margin: 0;
  padding: 0;
  font-size: 65px;
  margin-top: 30px;
  margin-left: 50px;
}

.site-header {
  height: 15vh;
  background-color: rgb(186, 154, 154);
  display: flex;
  align-items: flex-start;
}
